<div class="password-list">
    <h2>Liste des mots de passe</h2>

    <table *ngIf="passwords.length > 0; else noPasswords">
      <thead>
        <tr>
          <th>Nom de Compte</th>
          <th>Valeur</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let password of passwords">
          <td>{{ password.nomCompte }}</td>
          <td>{{ password.value }}</td>
          <td>
            <button (click)="deletePassword(password.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noPasswords>
      <p>Aucun mot de passe enregistré.</p>
    </ng-template>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>
