<div class="application-list">
    <h2>Liste des applications</h2>
    <form [formGroup]="applicationGroup">
    <table *ngIf="applications.length > 0; else noApplication">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{ application.name }}</td>
          <td>{{ application.type }}</td>
        </tr>
        <tr>

            <td>
              <input type="text" formControlName="name" placeholder="Nom de l'application">
            </td>
            <td>
              <select formControlName="type">
                <option value="GrandPublic">Grand public</option>
                <option value="Professionnelle">Professionnelle</option>
              </select>
            </td>
            <td>
              <button (click)="addApplication()">Ajouter</button>
            </td>

          </tr>
      </tbody>
    </table>
  </form>
    <ng-template #noApplication>
      <p>Aucune application enregistrée.</p>
    </ng-template>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>