<nav class="navbar bg-secondary navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/passwords" routerLinkActive="active" ariaCurrentWhenActive="page">Mots de passe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="passwords/add" routerLinkActive="active" ariaCurrentWhenActive="page">Ajouter mot de passe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/applications" routerLinkActive="active" ariaCurrentWhenActive="page">Applications</a>
          </li>
        </ul>
      </div>
    </div>
</nav>